.header{
   display: flex;
   justify-content: center;
    font-size: 25px;
    align-items: center;
    background-color: beige;
}
.input_nombre{
margin-left: 20px;
}
input{
    width: 250px;
}
.input_especie{
margin-left: 50px;
}
input{
    width: 250px;
}
.datos{
    font-size: 20px;
    margin-left: 20px;
}

