.container_table{
 
    border-collapse: separate;
    border-color: #ddd;
    width: 100%;
}

table{
  border-collapse: collapse;
   
}
th, td {
  border: 1px solid #ddd; 
  padding: 8px;            
  text-align: left; 
     
}
tr:hover{
cursor: pointer;
}

.encabezados{
  
  background-color:#3333;

}
.tabla_informacion{
  background-color: #f7f7f7;
}