.contenedor{
    display: flex;
    gap:20px;
    align-items: flex-start;
    padding:20px;
   
    width: 100%;
}
.container_tabla_personajes{
 flex: 1;
}

.container_detalle_personajes{
display: flex;
flex: 1.5;
justify-content: center;
 max-width: 100%;
 padding: 30px;
 padding: 30px;


}

.pagination{
    margin-left: 20px;
}